<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/myStyle.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partial/nav.ejs %>
    
    Hi this is about
    
  </body>
</html>