Am in Contact 

  <% include partial/nav.ejs %>

<p> Thanks for getting in touch : </p>
<p> You contacted <%= data.who %>  in <%= data.department %> </p>

<p> We will reply you back @ : <%= data.email %> </p>
