<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/myStyles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partial/nav.ejs %>
    
    This is index2
    
  </body>
</html>