<!DOCTYPE html>
<html>
	<% include partial/nav.ejs %>
	<body>
		<% include partial/header.ejs %>
		<div id = "left-panel" class="left"> this is my left panel </div>
		<div id = "body-panel"> 
			<div class = "intro"> 
				this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel
			</div>
			<div class = "main"> 
 				<div class="contact">
 					<div class="pic">
 						<img src ="/assets/img/img1.jpg" alt="img 1">
 					</div>
 					<div class="name">
 						this is my left panel
 					</div>
 				</div>
 				<div class="contact">
 					<div class="pic">
 						<img src ="/assets/img/img2.jpg" alt="img 1" >
 					</div>
 					<div class="name">
 						this is my left panel
 					</div>
 				</div>
 				<div class="contact">
 					<div class="pic">
 						<img src ="/assets/img/img3.jpg" alt="img 1" >
 					</div>
 					<div class="name">
 						this is my left panel
 					</div>
 				</div>
 				<div class="contact">
 					<div class="pic">
 						<img src ="/assets/img/img4.jpg" alt="img 1" >
 					</div>
 					<div class="name">
 						this is my left panel
 					</div>
 				</div>
 				<div class="contact">
 					<div class="pic">
 						<img src ="/assets/img/img6.jpg" alt="img 1" >
 					</div>
 					<div class="name">
 						this is my left panel
 					</div>
 				</div>
 	
 				this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel 
 				this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel 
 				this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel 
 				this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel this is my left panel 
 			</div> 
		</div>
		<div id = "right-panel" class="left"> this is my right panel </div>

		<footer> This is my footer </footer>

	</body>

</html>