<!DOCTYPE html>
<html>
<% include partial/nav.ejs %>
 
	<body>
		<% include partial/header.ejs %>
			<div id="body-content">
				<div id="wrap">
					<div id="intro">
					<p>This is an opportunity to meet and connect with old friend .<br>
					Friends who are a part and parcel of life. <br> <br>
					People who live far and apart use this as a platform to meet an greet each other. This platform is too connect some old connects. 

					</p>
				</div>
					<div id="body-left">
					<form>
						<p>
							<label for="username"> Username </label>
        					<input type="text" for="username" name="username"/>
						</p>
						<p>
							<label for="password"> Password </label>
							<input type="password" for="password" name="password"/>
						</p>
						<p>
							<label for="email"> Email </label>
							<input type="text" for="email" name="email" />
						</p>
						<p>	
							<label for="fNmame"> First Name </label>
							<input type="text" for="fNmame" name="fNmame" />
						</p>
						<p>
							<label for="lName"> Last Name </label>
							<input type="text" for="lName" name="lName" />
						</p>
						<button type="submit">Log In</button> 
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
