<div>
	<header> 
		<div class="left">
			<img src = "/assets/img/images.png " /> 
			<div class="subscript"> Connect With Old Mates!!! </div>
		</div>	
		
		<div class="right">
			<div><h1>Connect With Old Mates!!!</h1></div>
		</div>
	</header>
</div>