<head>
	<title> Connect With Old Mates </title>
	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
	<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
	<script src="/assets/register-user.js" ></script>
</head>